ricochet-refresh ([% c("var/version") %]) unstable; urgency=medium

  * Upgrade to Ricochet-Refresh [% c("var/version") %]

 -- Test Builder <test@build.er>  [% exec('date -u "+%a, %d %b %Y %H:%M:%S +0000"') %]
